<main class="master-body">
  <div class="ui page grid">
    <div class="twelve wide column main-col">
      <div class="ui form">
        <%= form_for @link, :html => {class: 'ui form basic segment'} do |f| %>
        <div class="field">
          <div class="ui input">
            <%= f.text_field :title, :placeholder => "Tiêu đề" %>
          </div>
        </div>
        <div class="field">
          <div class="ui input">
            <%= f.text_field :url, :placeholder => "URL", :pattern => "https?://.+" %>
          </div>
        </div>
        <div class="ui basic message">
          Nếu bạn muốn đăng câu hỏi thì hãy để trống URL và viết ý kiến cụ thể hơn ở dưới.
        </div>
        <div class="field">
          <%= f.text_area :description, :class => "idea-area", :placeholder => "Ý kiến" %>
        </div>

        <%= f.submit "Đăng", :class=>"ui basic reply button"%>
        <% end %>
      </div>
    </div>
    <div class="four wide column side-col"></div>
  </div>
</main>
